<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatjam's station</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>

<body>
<main class="container">
    <nav>
        <ul>
            <li><a href="#"><strong>Inventory</strong></a></li>
        </ul>
        <ul>
        <li><a hx-post="/logout">Logout</a></li>
    </ul>
    </nav>

    <article>
        <form
            id="search-form"
            hx-get="/api/inventory/search"
            hx-trigger="load, change, keyup changed delay:500ms from:input[type='search'], keyup changed delay:500ms from:input[type='text'], inventoryUpdated from:body"
            hx-target="#results"
            hx-indicator="#loading"
            >

            <div class="grid">
                <select name="category" aria-label="Select category..."
                hx-get="/api/inventory/categories"
                hx-trigger="load, change from:[name='footprint']"
                hx-target="this"
                hx-include="[name='footprint']"
                hx-swap="innerHTML">
                >
                    <option>All Categories</option>
                </select>
                <select name="footprint" aria-label="Select footprint..."
                hx-get="/api/inventory/footprints"
                hx-trigger="load, change from:[name='category']"
                hx-target="this"
                hx-include="[name='category']"
                hx-swap="innerHTML">
                >
                    <option>All Footprints</option>
                </select>
                <input type="text" name="min_val" placeholder="Min Value" aria-label="Min Value"> <input type="text" name="max_val" placeholder="Max Value" aria-label="Max Value">
                <label class="checkbox-label">
                    <input type="checkbox" name="in_stock" checked />
                    Only in stock
                </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="in_stage" unchecked />
                    Only staged
                </label>
            </div>
            <div class="grid">
                <div role="search">
                  <input name="search" type="text" placeholder="Fuzzy Search" />
                </div>
            </div>
            <input type="hidden" name="sort" value="">
            <input type="hidden" name="dir" value="">
        </form>
        <div class="grid">
            <button
            data-target="confirm-stage-modal"
            onclick="toggleModal(event)">
                Commit Stage
            </button>
            <button
            data-target="backup-modal"
            onclick="toggleModal(event)">
                Backup
            </button>
            <button
            data-target="manage-modal"
            onclick="toggleModal(event)">
                Manage Parts
            </button>
        </div>
        <div id="loading" class="htmx-indicator">
          <article aria-busy="true">Loading results...</article>
        </div>
        <div class="overflow-auto">
            <table class="striped" id="results">
            </table>
        </div>
    </article>

    <dialog id="confirm-stage-modal" closed>
        <article>
            <header>
                <button
                aria-label="Close"
                rel="prev"
                data-target="confirm-stage-modal"
                onclick="toggleModal(event)">
                </button>
                <p>
                    <strong>Confirm commit stage</strong>
                </p>
            </header>
            <p>
                Are you sure you want to commit to inventory?
            </p>
            <footer>
                <button
                class="secondary"
                data-target="confirm-stage-modal"
                onclick="toggleModal(event)">
                    Cancel
                </button>
                <button
                hx-post="/api/inventory/confirm-stage"
                data-target="confirm-stage-modal"
                onclick="toggleModal(event)">
                >
                    Commit
                </button>
            </footer>
        </article>
    </dialog>

    <dialog id="backup-modal" closed>
        <article>
            <header>
                <button
                aria-label="Close"
                rel="prev"
                data-target="backup-modal"
                onclick="toggleModal(event)">
                </button>
                <p>
                    <strong>Backup</strong>
                </p>
            </header>
            <p>
                <button>Download backup</button>
                <button>Upload backup</button>
            </p>
        </article>
    </dialog>

    <dialog id="manage-modal" closed>
        <article>
            <header>
                <button
                aria-label="Close"
                rel="prev"
                data-target="manage-modal"
                onclick="toggleModal(event)">
                </button>
                <p>
                    <strong>Manage Parts</strong>
                </p>
            </header>
            <p>
                TODO :)
            </p>
        </article>
    </dialog>

    <script>
        function sortBy(field) {
            const sortInput = document.querySelector('[name="sort"]');
            const dirInput = document.querySelector('[name="dir"]');

            if (sortInput.value === field) {
                dirInput.value = dirInput.value === 'asc' ? 'desc' : 'asc';
            } else {
                sortInput.value = field;
                dirInput.value = 'asc';
            }

            htmx.trigger('#search-form', 'change');
        }

        sortBy('mpn');

        const toggleModal = (ev) => {
            event.preventDefault();
            const modal = document.getElementById(event.currentTarget.dataset.target);
            if (!modal) return;
            modal && (modal.open ? modal.close() : modal.showModal());
        };

    </script>
</main>
</body>
</html>
